.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content {
  flex: 1;
}
.footer {
  text-align: center;
  padding: 5px;
  background-color: #2d2b24;
  text-size-adjust: 5px;
}
